# Sample local config - copy this into config.local.neon and change accordingly

parameters:
	database:
		driver: mysqli
		host: localhost
		username:
		password:
		database:
		charset: utf8
		sqlmode: TRADITIONAL
		profiler: on

	api:
		secretToken: NULL # secret API token, NULL for no check

migrations:
    withDummyData: FALSE # set to true on local
